*, *::before, *::after{
    box-sizing: border-box;
}
body{
    width: 100%;
    height: inherit;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Plus Jakarta Sans Extra Bold',sans-serif;
    background: linear-gradient(to Bottom, #FFFFFF, #f1f1f3);
}
.main{
    width: 100%; 
}
.container{
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 20px 150px;
    align-content: center;
    margin-top: 1rem;
}
.button{
    align-content: center;
    border-radius: 30px;
    padding: 1rem 1.5rem;
    z-index: 1;
}
.button:hover{
    opacity: 0.5;
    cursor: pointer;
}
.button a{
    text-decoration: none;
    color: white;
}
h1{
    font-size: 56px;
    line-height: 70px;
    color: #13183F;
}
h2{
    font-size: 32px;
    line-height: 40px;
    color: #13183F;
}
p{
    font-size: 18px;
    line-height: 28px;
    color: #83869a;
}
header, section, footer{
    width: 100%;
}
/* Header section of the project */
.nav-bar{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}
.image-nav{
    align-content: center;
}
#nav-button{
    background-color: #13183F;
}
/* Top box section */
.top-box{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: wrap row;
}
.top-box-left{
    width: 45%;
    height: auto;
    align-self: center;
}
.top-box-text{
    width: 94%;
}
#top-box-button{
    width: 30%;
    text-align: center;
    background: linear-gradient(to Bottom, #FF6F48, #F02AAF);
}
.top-box-right{
    width: 55%;
    height: auto;
    object-fit: cover; 
}
#hero{
    height: 105%;
    width: 180%;
    position: relative; 
    top: -13rem;
}
/* Middle container section of the project */
.down-box{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: auto auto;
    gap: 3rem;
    margin-top: -10rem;
}
.middle-conts{
    width: auto;
    height: auto;
    display: grid;
    border-radius: 10px;
    padding: 1.5rem;
    background-color: #FFFFFF;
}
#first-conts{
    background: linear-gradient(to Bottom, #FF6F48, #F02AAF);
    align-content: center;
}
#first-conts h2{
    color: #FFFFFF;
}
.favicons{
    position: relative;
    top: -3rem;
    left: 1rem;
}
.middle-conts-button a{
    text-decoration: none;
    color: #F02AAF;
    display: flex;
    justify-self: flex-end;
}
.middle-conts-button a:hover{
    opacity: 0.5;
    cursor: pointer;
}
/* Footer Section of the project */
footer{
    background-color: rgb(1, 1, 40);
    color: white;
}
.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.foot-image{
    align-content: center;
}
#foot-button{
    background: linear-gradient(to top,  rgb(240, 42, 166), rgba(72,81,255, 1));
}

/* Media queries Tablet view */
@media (min-width: 768px) and (max-width: 1024px){
    .container{
        padding: 1.2rem 3rem;
    }
    .top-box-left{
        width: 45%;
        position: relative;
        bottom: 5rem;
    }
    .top-box-text{
        width: 99%;
    }
    .top-box-text h1{
        width: 109%;
    }
    .top-box-right{
        width: 55%;
        height: auto;
        object-fit: cover;
    }
    #top-box-button{
        width: 40%;
    }
    .top-right-box{    
        width: 160%;
        height: 150%;
        position: relative; 
        top: -20rem;
    }
    .down-box{
        margin-top: -10rem;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 3rem;
    }   
    .middle-conts p, #first-conts h2{
        width: 80%;
        text-align: justify;
    }
}

/* Media queries for the mobile view */
@media (max-width: 767px){
    .container{
        width: 100%;
        max-width: 100%;
        align-self: center;
        padding: 20px 2rem;
    }
    .top-box{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);     
        gap: 2rem;
    }
    .top-box-left{
        width: 100%;
        height: auto;
    }
    .top-box-text{
        width: 100%;
    }
    .top-box-text h1{
        font-size: 40px;
        line-height: 60px;
    }
    #top-box-button{
        width: 49%;
        text-align: center;
    }
    .top-box-right{
        width: 100%;
        height: auto;
        padding: 4rem;
    }
    picture{
        position: unset;
        position: relative;
        top: 10rem;
        right: 45%;
    }
    .down-box{
        margin-top: -7rem;
        display: grid;
        align-content: center;
        grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
        gap: 4rem;
    }
    #first-conts{
        width: 100%;
        height: auto;
        align-content: center;
        padding: 1.5rem;
    }
}